/* Light Green: #95d066
Dark Green #516a4c
Pink: #ff294f 
Offwhite: #f5f4f0 */
* {
	padding: 0;
	border: 0;
    display:block;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #516a4c;
}

h1 {
	color: #ffffff;

}

h2 {
	color: #95d066;
}

h3 {
	color: #516a4c;
}

p {

}

header {

}

section {

}

footer {

}

/*----------Classes----------*/

.button {

}

/*-------ID--------*/

#head-1 {
	
}