/* Light Green: #95d066
Dark Green #516a4c
Pink: #ff294f 
Offwhite: #f5f4f0 */
* {
	padding: 0;
	border: 0;
    display:block;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #516a4c;
}

h1 {
	color: #ffffff;
	font-size: 1.5rem;

}

h2 {
	color: #516a4c;
	font-size: 1.25rem;
}

h3 {
	color: #516a4c;
	font-size: 1.15rem;
}

p {
	font-size: 1rem;
}

header {

}

section {

}

footer {
	clear: both;

}

/*----------Classes----------*/

.button {
	border-radius: 5px;
    border: 3px solid #516a4c;
    width: 10%;
    margin: auto;
    padding: 0.5%;
    text-align: center;

}

.img-row {
	height: 250px;
	float: left;
	padding: 5%;
	margin: 3%;
}

.pink{
	border-radius: 5px;
    border: 3px solid #ff294f;
    width: 10%;
    margin: auto;
    padding: 0.5%;
    text-align: center;
	color: #ff294f;
	clear: both;
}

/*-------ID--------*/

#head-1 {
	background-color: #f5f4f0; 	

}

#sec-1 {
	background-image: url(images/plants-bg.png);
	color: #ffffff;
}

#sec-3 {
	background-color: #f5f4f0;
}